<style type="text/css">
  .password-logo {
    max-width: {{ settings.logo_width }}px;
    opacity: 0.8;
    &:hover {
      opacity: 0.5;
    }
  }
</style>

<div>
  <div class="password-header">
    {%- liquid
      assign logo_to_display = section.settings.logo | default: settings.logo
      assign logo_alt = logo_to_display.alt | default: shop.name | escape
      assign logo_height = settings.logo_width | divided_by: settings.logo.aspect_ratio
    -%}

    {{
      logo_to_display
      | image_url: width: 500
      | image_tag:
        class: 'password-logo',
        widths: '50, 100, 150, 200, 250, 300, 400, 500',
        width: settings.logo_width,
        height: logo_height,
        alt: logo_alt
    }}   
  </div>
</div>

{% schema %}
{
  "name": "t:sections.main-password-header.name",
  "settings": [
    {
      "type": "image_picker",
      "id": "logo",
      "label": "Logo",
      "info": "Overrides the default logo from Theme Settings."
    },
    {
      "type": "range",
      "id": "logo_width",
      "min": 50,
      "max": 250,
      "step": 5,
      "unit": "px",
      "label": "Custom logo width",
      "default": 100
    },
    {
      "type": "paragraph",
      "content": "t:sections.main-password-header.settings.logo_help.content"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "scheme-1"
    }
  ]
}
{% endschema %}
